body{
    background-color: rgb(241, 242, 243);
    /* overflow: hidden; */
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;

  
}

.calculator-window{
  /* margin-bottom: 30px; */
    height: 75px;
    /* width: 80%; */
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main-window{
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 60%;
    width: 80%;
    max-width: 300px;
    column-gap: 10%%;
    row-gap: 30%;
    /* border: 3px solid rgba(12, 10, 10, 0.288); */

}

#numbers-here{

  height: 90%;
  width: 100%;
  max-width: auto;
  border: 3px solid rgba(12, 10, 10, 0.747);
  border-radius: 0px;
  font-size: 25px;
  line-height: 25px;
  background-color: #3c404300;

}

button{
  flex: 1 0 18%;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  height: 18%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.164);
  background-color: #fff;
  color: #3c4043;
  max-height: 67px;
  max-width: 75px;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;


}
.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

footer{
  /* position: fixed; */
  display: flex;
  bottom: 5vh;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* background-color: red; */
}

a {
  text-decoration: none;
}