body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(241, 242, 243);
}

div{
    border: 1px solid blue;
}

.header{
    /* height: auto; */
    width: 80%;
    text-align: center;
}

.calculator-window{
    height: 10vh;
    width: 80%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main-window{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 60%;
    width: 80%;
    max-width: 350px;
    column-gap: 10px;
    row-gap: 25px;
}

#numbers-here{

  height: 70%;
  width: 90%;
  max-width: 350px;
  border: 1px solid rgba(26, 25, 25, 0.11);
  font-size: 25px;
  line-height: 25px;
  background-color: #3c404300;
}

button{
  flex: 1 0 18%;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  height: 18%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.164);
  background-color: #fff;
  color: #3c4043;
  max-height: 18%;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;


}
.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}











/* CSS from Website */
/* .button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing:border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .25px;
  line-height: 25px;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform,opacity;
  z-index: 0;
}





.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
} */